body
{
    text-align: center;   

}

#app {
    background-color: rgb(221, 21, 131);
    
}

#myCarrossel
{
    background-color: red;
}

#myCarrossel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
